@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #00000015;
  display: flex;
  justify-content: center;
  background-color: white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  /* padding: 0.2rem 1rem 0.1rem 1rem; */
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem 0.55rem;
  margin-right: 0.5rem;
}

.header-center--logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-center--logo img {
  height: 1.5rem;
  width: 12.5rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .button {
  margin: 0.4rem;
  padding: 0.6rem;
  border-radius: 3px;
  background-color: #567b95;
  border: 1px solid #326891;
  color: white;
  font-size: 0.7rem;
  font-weight: bolder;
}

.header-left a {
  color: black;
}

body {
  height: 90vh;
  margin: 10vh 0;
}

.body-wrapper {
  padding-top: 40px;
  width: 80%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 600px 1fr;
  row-gap: 20px;
}

.title {
  grid-column: 2 / 3;
  padding-bottom: 2px;
  border-bottom: 1px solid #00000015;
}

.title__h1 {
  font-family: "Domine";
  font-style: italic;
  font-size: 2.2rem;
  grid-column: 2 / 4;
}

.icons {
  grid-column: 2/3;
}

.icons img {
  width: 2rem;
  height: 2rem;
  padding: 8px;
  border-radius: 50%;
  background-color: #eee;
  margin: 10px;
}

.icons img:hover {
  border: 1px solid blue;
}

.icons .icon-twitter {
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.icons .icon-mail {
  padding: 0;
  padding-top: 10px;
  padding-left: 10px;
}

.wide-content {
  grid-column: 1 / -1;
}

.hero-image {
  width: 1200px;
  height: auto;
}

.hero-description {
  font-size: 0.9rem;
}

.hero-description .credit {
  font-size: 0.8rem;
  opacity: 0.8;
}

.byline-timestamp {
  grid-column: 2/4;
}

.byline {
  font-size: 1rem;
}

.timestamp {
  font-size: 0.9rem;
}

.article {
  grid-column: 2 / 3;
}

.article p {
  padding: 1.1rem 0;
}

.article-singup {
  border-top: 1px solid #00000015;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-singup-text {
  width: 500px;
}

.article-singup-button {
  height: 2rem;
}
